<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../../fonts/Roboto"); %>
    <link rel="stylesheet" href="/css/admin/orders/orders.css">
    <title>Панель администратора</title>
</head>

<body>
<div class="content">
    <a href="/admin">Главная</a>
    <div class="admin-panel">
        <div class="admin-panel__header">
            <h1 class="admin-panel__title">Таблица покупо</h1>
        </div>
        <table class="admin-panel__table">
            <thead>
            <tr class="admin-panel__row admin-panel__row--header">
                <th class="admin-panel__cell admin-panel__cell--id"></th>
                <th class="admin-panel__cell admin-panel__cell--id">ID</th>
                <th class="admin-panel__cell admin-panel__cell--name">Дата покупки</th>
                <th class="admin-panel__cell admin-panel__cell--date">Кол-во товара</th>
            </tr>
            </thead>
            <tbody>
            <% for (const order of orders) { %>
                <tr class="admin-panel__row">
                    <td class="admin-panel__cell admin-panel__cell--additional">
                        <a href="<%= "/admin/orders/" + order.id; %>">Подробнее</a>
                    </td>
                    <td data-type="id" class="admin-panel__cell admin-panel__cell--id"><%= order.id; %></td>
                    <td data-type="username" class="admin-panel__cell admin-panel__cell--date"><%= order.date.toLocaleDateString('ru-RU'); %></td>
                    <td data-type="username"
                        class="admin-panel__cell admin-panel__cell--count-products"><%= order.total_products; %></td>
                </tr>
            <% }; %>
            </tbody>
        </table>
    </div>
</div>
<script src="/scripts/jquery-3.7.1.js"></script>
</body>
</html>