<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../../fonts/Roboto"); %>
    <link rel="stylesheet" href="/css/admin/products/products.css">
    <title>Панель администратора</title>
</head>
<body>
<div class="content">
    <a href="/admin">Главная</a>
    <div class="admin-panel">
        <div class="admin-panel__header">
            <h1 class="admin-panel__title">Таблица товаров</h1>
            <div class="admin-panel__add-product">
                <a href="/admin/product/add">Добавить товар</a>
            </div>
        </div>
        <table class="admin-panel__table">
            <thead>
            <tr class="admin-panel__row admin-panel__row--header">
                <th class="admin-panel__cell admin-panel__cell--id"></th>
                <th class="admin-panel__cell admin-panel__cell--id">ID</th>
                <th class="admin-panel__cell admin-panel__cell--name">Название товара</th>
                <th class="admin-panel__cell admin-panel__cell--category">Категория товара</th>
                <th class="admin-panel__cell admin-panel__cell--price">Цена товара</th>
                <th class="admin-panel__cell admin-panel__cell--edit"></th>
            </tr>
            </thead>
            <tbody>
            <% products?.forEach(({ id, category_name, price, name }) => { %>
                <tr class="admin-panel__row">
                    <td class="admin-panel__cell admin-panel__cell--additional"><a
                                href="<%= "/admin/product/" + id; %>">Подробнее</a></td>
                    <td data-type="id" class="admin-panel__cell admin-panel__cell--id">
                        <%= id; %></td>
                    <td data-type="name" class="admin-panel__cell admin-panel__cell--name">
                        <%= name; %></td>
                    <td data-type="category" class="admin-panel__cell admin-panel__cell--category">
                        <%= category_name; %></td>
                    <td data-type="price" class="admin-panel__cell admin-panel__cell--price">
                        <%= price; %></td>
                    <td class="admin-panel__cell admin-panel__cell--actions">
                        <button class="edit-button">Изменить</button>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<script src="/scripts/jquery-3.7.1.js"></script>
<script src="/scripts/edit-table.js"></script>
<script>
    $(document).ready(function() {
        $("tbody").on("click", ".save-button", function() {
            const data = {};

            $(".editing").find("input").each(function() {
                data[$(this).attr("name")] = $(this).val();
            })

            $.ajax({
                url: "/api/admin/product",
                method: "PUT",
                data: {
                    ...data,
                    productId: data.id
                }
            }).done(() => {
               $(".editing input").each(function() {
                   const value = $(this).val();

                   $(this).closest("td").html(value);
                   $(".save-button").remove();
                   $(".reset-button").remove();

                   $(".edit-button").show();

                   $(".editing").removeClass("editing");
               })
            }).fail((jqHXR) => {
                console.log(jqHXR);
            })
        })
    })
</script>
</body>
</html>